input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: hsl(211deg 100% 50%);
  color: white;
  font-size: 16px;
}

.inputtext{
  width: 100%;
}
.container {
  padding: 20px;
}

body{
  font-family: sans-serif;
}

#email_text{
  font-size: 14px;
  color: grey;
  margin-top: -6px;
  margin-bottom: 9px;
}
